dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.bak
src-lib/BNFC/Pristinum/Doc.txt
src-lib/BNFC/Pristinum/ErrM.hs
src-lib/BNFC/Pristinum/Print.hs
src-lib/BNFC/Pristinum/Skel.hs
src-lib/BNFC/Pristinum/Test.hs